/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 
:root {
	/*box-sizing: border-box;*/
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --text-primary: #212121;
    --text-secondary: #616161;
    --bg-primary: #fafafa;
    --bg-secondary:#eeeeee;
    --border-primary:  #bdbdbd; 
    --transition-speed: 600ms;
    scroll-behavior: smooth;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.sidenav {
  transform: translateX(0%) !important;
  width: 75px;
}

/* header, main, footer {
  padding-left: 300px;
} */

.text-bold {
  font-weight: bolder !important;
  font-size: 1.2em;
}


/* start nav */

nav {
  padding: 0 10px 0 10px;
  color: var(--text-primary);
  background: linear-gradient(60deg,#4d3b7a,#2c205c);
  /* background-color: var(--bg-primary); */
  box-shadow: none;
  height: 5rem;
}

.noHover:hover{
  background-color: none;
}

.arrowNav {
  margin: 0 !important;
  position: absolute;
  right: 10px;
}

ul.select-dropdown,
ul.dropdown-content {
  width: auto !important;
  padding:0;

}
li > span {
  white-space: nowrap;
}

.userInfo{
  /* margin-left:30px !important;  */
  top: 5rem !important;
}

nav .left, nav .right {
  margin: .5rem 1.5rem;
  padding: 0;
}

nav .brand-logo {
  position: unset;
}

/* nav .right {
  position: absolute;
  top: 0px;
  right: 0px;
} */

.nav-wrapper form {
  margin: auto;
  /* width: 30%; */
}

nav .input-field {
  margin: 13px 0;
}

.nav-wrapper .search-location {
  width: 15%;
}

.nav-wrapper .search-stuff {
  width: 27%;
}

.nav-wrapper .search-stuff li {
  width: 100%;
}

/* .nav-wrapper .input-field{
  padding-top: 7px;
} */

.nav-wrapper form #search{
  height: 35px;
  border: 2px solid var(--border-primary);
  border-radius: 4px;
}

.icon-block {
  padding: 0 15px;
}

.input-field .material-icons {
  line-height: 40px;
  height: 35px;
}

.nav-wrapper .btn-large {
  border-radius: 70px;
  box-shadow: none;
  border: 2px solid var(--border-primary);
  /* height: 45px; */
  margin: auto;
}

.nav-wrapper .btn-large .material-icons {
  clip-path: circle();
  margin: 0;
  margin-right: .7em;
}

/* end nav */


.category {
  border: 1px solid black;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 30px;
  width: 230px;
  height: 40px;
  padding-bottom:30px;
}

.category a {
  font-size: 12px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 15px;
  border-radius: 30px;
  width:100px;
  text-overflow: ellipsis;
  color: black;
}

.category .in-active {
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}


.category a span {
  position: relative;
  bottom: 8px;
}

.category .active-btn,.category a:hover {
  background-color: #f3c19d !important;
  border:1px solid #e8833a !important;
}

.category-search form {
  margin: auto;
  /* width: 30%; */
}

.category-search .input-field {
  margin: 13px 0;
}

.category-search .search-location {
  width: 15%;
}

.category-search .search-stuff {
  width: 27%;
}

.category-search .search-stuff li {
  width: 100%;
}

.input-field input[type=search] {
  height: inherit;
  padding-left: 4rem;
  width: calc(80% - 4rem);
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* .category-search .input-field{
  padding-top: 7px;
} */

.category-search form #search{
  height: 35px;
  border: 2px solid var(--border-primary);
  border-radius: 4px;
}

.acc_balance {
  font-size: 1.3rem;
  /* font-weight: bold; */
}

.clear {
  clear: both;
}

.iklan-active {
  padding: 10px;
  color: #6558f5;
  border-bottom: 4px solid #6558f5;
}

.iklan-product .log-product {
  border-radius: 40px;
  padding: 1px 10px;
  box-shadow: -4px 6px 10px 0px #ffb987;
  background-color: #fafafa;
  border: 1px solid #f17318;
  color: #ff6b00;
}

.iklan-product i{
  font-size: 1em;
  padding-top: 3px;
}

.iklan-product .section-stock {
  display: block;
}

.iklan-product .stock {
  border-radius: 30px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20%;
  width: 100px;
  text-align: center;
}

.iklan-product .price {
  float: left;
  font-size: 1.2em;
}

.iklan-product .action {
  font-size: 1.2em;
  float: right;
}

.pag .pagination li.active {
  background-color: transparent;
}

.pag .pagination li.active a {
  color: #6558f5;
}


@media only screen and (min-width: 993px){
  .container {
      width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .category-iklan div{
    padding: 0 !important;
  }

  .stock {
    margin:10px auto;
    
  }
}