@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 
:root {
	/*box-sizing: border-box;*/
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --text-primary: #212121;
    --text-secondary: #616161;
    --bg-primary: #fafafa;
    --bg-secondary:#eeeeee;
    --border-primary:  #bdbdbd; 
    --transition-speed: 600ms;
    scroll-behavior: smooth;
}

.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }
  
.atasin{
  margin-right: 80px;
  margin-top: -80px;
}

  .image-landing {
    background-image: url("../img/567638.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .image-landings {
    background-image: url("https://images.hdqwalls.com/download/anime-cityscape-landscape-scenery-5k-r6-3840x2400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  .image-1 {
    height: 70vh;
  }
  
  .image-2 {
    height: 30vh;
  }

  .text-bold {
    font-weight: bolder !important;
    font-size: 1.2em;
  } 
  /* start nav */
.card-panel:hover{
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: 0;
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.carousel {	
	margin: 0 auto;
	padding: 0 68px;
}
.carousel .carousel-item {
	text-align: center;
	overflow: hidden;
	height: 160px;
}
.carousel .carousel-item .img-box {
	background: #fff;
	padding: 9px;
	box-shadow: 0 6px 20px -6px rgba(0,0,0,0.4);
}
.carousel .carousel-item img {
	margin: 0 auto;
}
.carousel-control-prev, .carousel-control-next {
	width: 68px;
	background: none;
}
.headings{
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: #333;
  position: relative;
}
.headings::after{
  content: "";
  width: 10rem;
  height: .9rem;
  background-color: #445ae3;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}
.card-wrappers{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  
}
#topbarsearch .input-field .prefix { 
  width:0rem !important;    
  top: 0.2rem !important;    
  }   
.catPicture {
  height: 100%;
}
.cards{
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}
.cards h2{
  font-size: 2rem;
  color: #333333;
  margin: 1rem 0;
}
.job-titles{
  color: #777777;
  font-size: 1.5rem;
  font-weight: 300;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:100px;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.abouts{
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-style: italic;
  text-align: center;
  color: #333333;
  padding: 0 2rem;
}
.cards .btns{
  padding: 2rem 3rem;
  background-color: #445ae3;
  border-radius: 2rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  color: #eee;
  font-size: 1rem;
  transition: all .5s;
}
.cards .btns:hover{
  transform: translateY(-2px);
  box-shadow: .5rem .5rem .2rem rgba(0,0,0,0.2);
}

.cards .card-imgs{
  width: 100%;
  height: 15rem;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 59%, 0% 100%);
}
.profile-imgs{
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 100%;
  margin-top: -10rem;
  z-index: 999;
  border: 1rem solid #ebeef8;
}
.social-media{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem 0;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0,0,0,0.1);
}
.social-media i{
  font-size: 3rem;
  transition: color .5s;
}
.fa-facebook-square{
  color: #3b5999;
}
.fa-twitter-square{
  color: #55acee;
}
.fa-instagram{
  color: #e6683c;
}
.fa-youtube{
  color: #dd4b39;
}
.fa-facebook-square:hover,.fa-twitter-square:hover,.fa-instagram:hover,.fa-youtube:hover{
  color: #45e19f;
}

@media screen and (min-width: 700px) {
  .card-wrappers{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .cards{
    margin-bottom: 10rem;
  }
  .cards:hover{
    transform: scale(1.1);
  }
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}


.carousel-control-prev i, .carousel-control-next i {
	font-size: 28px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin-top: -15px;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border: none;
	border-radius: 50%;
	margin: 1px 4px;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
}
.carousel-indicators li.active {
	background: #555;
}

.text-up{
  color: #111;
}

.ribbon {
  width: 150px;
 height: 150px;
 overflow: hidden;
 position: absolute;
   top: -10px;
 right: -10px;
}
.ribbon__content {
 left: -7px;
 top: 20px;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
 position: absolute;
 display: block;
 width: 230px;
 padding: 5px 0;
 background-color: #f5cd79;
 box-shadow: 0 5px 5px rgba(0, 0, 0, 0.192);
 color: #fff;
 text-shadow: 0 3px 1px rgba(0,0,0,.2);
 text-transform: uppercase;
 text-align: center;
 border: 2px dotted #fff;
 outline : 5px solid  #f5cd79;


}

nav {
  padding: 0 10px 0 10px;
  color: var(--text-primary);
  background: linear-gradient(60deg,#4d3b7a,#2c205c);
  /* background-color: var(--bg-primary); */
  box-shadow: none;
  height: 5rem;
}

nav .left, nav .right {
  margin: .5rem 1.5rem;
  padding: 0;
}

nav .brand-logo {
  position: unset;
}


/* nav .right {
  position: absolute;
  top: 0px;
  right: 0px;
} */

.nav-wrapper form {
  margin: auto;
  /* width: 30%; */
}

nav .input-field {
  margin: 13px 0;
}

.nav-wrapper .search-location {
  width: 15%;
}

.nav-wrapper .search-stuff {
  width: 27%;
}

.nav-wrapper .search-stuff li {
  width: 100%;
}

/* .nav-wrapper .input-field{
  padding-top: 7px;
} */

.nav-wrapper form #search{
  height: 35px;
  border: 2px solid var(--border-primary);
  border-radius: 4px;
}

.icon-block {
  padding: 0 15px;
}

.input-field .material-icons {
  line-height: 40px;
  height: 35px;
}

.nav-wrapper .btn-large {
  border-radius: 70px;
  box-shadow: none;
  border: 2px solid var(--border-primary);
  /* height: 45px; */
  margin: auto;
}

.nav-wrapper .btn-large .material-icons {
  clip-path: circle();
  margin: 0;
  margin-right: .7em;
}

/* end nav */


.card{
  transition: all .5s;
}
.card:hover{
  transform: translateY(-2px);
  box-shadow: .5rem .5rem .2rem rgba(0,0,0,0.2);
}

.card .btn:active{
  transform: translateY(0);
  box-shadow: none;
}

.hoverpanel {
  box-shadow: 0px 70px 10px -50px #888;
}
.partner-area {
  background-image: url(https://img.okezone.com/content/2020/09/03/406/2272312/semua-jalur-pendakian-gunung-prau-kembali-dibuka-ZGLNSYvS3R.jpg);
  background-size: cover;
  background-attachment: fixed;
  height:200px;
  padding: 50px;
}
.back-text {
  display: inline-block;
  font-size: 100px;
  font-weight: 900;
  margin-left: -15%;
  margin-top: 30%;
  opacity: 0.1;
}

.min-margin {
  margin-top: -30px;
}

.product-img {
  position: absolute;
  z-index: 99;
  left: 1px;
  margin-top: 10px;
  margin-left: 50px;
}
.product-imgs {
  position: absolute;
  z-index: 99;
  left: 1px;
  margin-top: -125px;
  margin-left: 550px;
}



.important-index {
  z-index: 999;
}

.mtb {
  margin: 20px 0;
}
}

.rad {
  border-radius: 10px;
}

.diskonkok{
  margin-top: 100px;
  margin-left: 100px;
}

.rads{
  border-radius: 70px;
}

.rad-product {
  border-radius: 20px !important;
}


.rad-desc {
  border:1px solid #dcdcdc;
  border-radius: 0 0 20px 20px !important;
}

.shadow-box {
  box-shadow: -10px 15px 8px 0px #888;
}

.no-bottom {
  padding-bottom: 0 !important;
}

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #11e95b;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.product-caption {
  display: block;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-rating {
  padding: 0 20px;
  font-size: 11px;
}

.icon-yellow {
  color: yellow;
}

.product-price:hover {  
    background-color: #3e8e41;
    color: white;
  }
.product-price {
  position: absolute;
  background: #11e95b;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  border-radius: 7px;
  margin-top: -13px;
  margin-left: -5px;
  box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 601px) {
  .non-mobile {
    display: block;
  }
  
  .car-mobile {
    display: none;
  }
}




@media only screen and (max-width: 600px) {
  .sidenav {
    font-family: 'Poppins', sans-serif;
    padding-left: 0;
  }
  .display {
    display: inline-block !important;
  }
  
  .non-mobile {
    display: none;
  }

  .car-mobile {
    display: block;
  }

  .carousel {
    height: 300px;
  }
  
  /* .carousel .carousel-item {
    width: 100% !important;
  }  */

  .diskonkok{
    margin-left: auto;
  }

  .diskonkok .valign-wrapper {
    float: none !important;
  }

  .diskonkok .valign-wrapper img {
    width: 100%;
  }
  .atasin {
    margin-top: auto;
  }

  .product-price {
    font-size: 20px;
  }

  .sale {
    height: auto;
  }

  .overflow-x {
    overflow-x: hidden;
  }
  .headings {
    margin-right: 0 !important;
  }

  .trusted-mobile {
    background-image: url(https://img.okezone.com/content/2020/09/03/406/2272312/semua-jalur-pendakian-gunung-prau-kembali-dibuka-ZGLNSYvS3R.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    /* height:200px; */
    padding: 50px;
  }

  .team {
    padding: 15px 0 !important; 
  }
}