@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 
:root {
	/*box-sizing: border-box;*/
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --text-primary: #212121;
    --text-secondary: #616161;
    --bg-primary: #fafafa;
    --bg-secondary:#eeeeee;
    --border-primary:  #bdbdbd; 
    --transition-speed: 600ms;
    scroll-behavior: smooth;
}

.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }
  
  .image-landing {
    background-image: url("../img/567638.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .image-1 {
    height: 70vh;
  }
  
  .image-2 {
    height: 30vh;
  }

  .text-bold {
    font-weight: bolder !important;
    font-size: 1.2em;
  } 
  /* start nav */
.card-panel:hover{
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: 0;
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.text-up{
  color: #111;
}

nav {
  padding: 0 10px 0 10px;
  color: var(--text-primary);
  background: linear-gradient(60deg,#4d3b7a,#2c205c);
  /* background-color: var(--bg-primary); */
  box-shadow: none;
  height: 5rem;
}

nav .left, nav .right {
  margin: .5rem 1.5rem;
  padding: 0;
}

nav .brand-logo {
  position: unset;
}


/* nav .right {
  position: absolute;
  top: 0px;
  right: 0px;
} */

.nav-wrapper form {
  margin: auto;
  /* width: 30%; */
}

nav .input-field {
  margin: 13px 0;
}

.nav-wrapper .search-location {
  width: 15%;
}

.nav-wrapper .search-stuff {
  width: 27%;
}

.nav-wrapper .search-stuff li {
  width: 100%;
}

/* .nav-wrapper .input-field{
  padding-top: 7px;
} */

.nav-wrapper form #search{
  height: 35px;
  border: 2px solid var(--border-primary);
  border-radius: 4px;
}

.icon-block {
  padding: 0 15px;
}

.input-field .material-icons {
  line-height: 40px;
  height: 35px;
}

.nav-wrapper .btn-large {
  border-radius: 70px;
  box-shadow: none;
  border: 2px solid var(--border-primary);
  /* height: 45px; */
  margin: auto;
}

.nav-wrapper .btn-large .material-icons {
  clip-path: circle();
  margin: 0;
  margin-right: .7em;
}

/* end nav */

.rad {
  border-radius: 10px;
}

.rad-product {
  border-radius: 20px !important;
}


.rad-desc {
  border:1px solid #dcdcdc;
  border-radius: 0 0 20px 20px !important;
}

.shadow-box {
  box-shadow: -10px 15px 8px 0px #888;
}

.no-bottom {
  padding-bottom: 0 !important;
}

.hoverpanel {
  box-shadow: 0px 70px 10px -50px #888;
}

.back-text {
  display: inline-block;
  font-size: 100px;
  font-weight: 900;
  margin-left: -15%;
  margin-top: 30%;
  opacity: 0.1;
}

.min-margin {
  margin-top: -30px;
}

.product-img {
  position: absolute;
  z-index: 99;
  left: 1px;
}

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #11e95b;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.product-caption {
  display: block;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-rating {
  padding: 0 20px;
  font-size: 11px;
}

.icon-yellow {
  color: yellow;
}

.product-price:hover {  
    background-color: #3e8e41;
    color: white;
  }
.product-price {
  position: absolute;
  background: #11e95b;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  border-radius: 7px;
  margin-top: -13px;
  margin-left: -5px;
  box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

.important-index {
  z-index: 999;
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 85%;
  }
}