/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 
:root {
	/*box-sizing: border-box;*/
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --text-primary: #212121;
    --text-secondary: #616161;
    --bg-primary: #fafafa;
    --bg-secondary:#eeeeee;
    --border-primary:  #bdbdbd; 
    --transition-speed: 600ms;
    --orange-primary: #E8833A;
    --orange-secondary: #F3C19D;
    scroll-behavior: smooth;
}

.order-list-items::-webkit-scrollbar, 
body::-webkit-scrollbar {
    width: 0.5rem; 
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.text-bold {
  font-weight: bolder !important;
  font-size: 1.2em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* padding-right: 75px; */
}

.sidenav, .sideTriggerBtn a {
  background-color: var(--bg-secondary);
}

.sideTriggerBtn {
  position: absolute;
  top: 50vh;
  left: -54px;
  z-index: 10;
}

.sideTriggerBtn a {
  /* transform: rotate(90deg); */
  border-radius: 40px 0 0 40px;
  /* box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.14); */
  box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.14), 
              -3px 2px 5px 0 rgba(0, 0, 0, 0.12), 
              -3px 1px 5px 0 rgba(0, 0, 0, 0.2);
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: auto !important;
  padding: 1.2rem 0;
}

.sideTriggerBtn a:hover {
  box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.14), 
              -3px 2px 5px 0 rgba(0, 0, 0, 0.12), 
              -3px 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.sideTriggerBtn .material-icons {
  /* display: block;
  line-height: initial;
  margin-left: 10px;
  margin-right: -10px;
  position: absolute; */
}

.sidenav {
  /* transform: translateX(0%) !important; */
  width: 300px;
  overflow: initial;
  padding: 2.5rem 1rem;
}

.sidenav li .material-icons {
  vertical-align: sub;
}

.sidenav .location-view {
  padding: 1rem 0;
  background-color: var(--orange-secondary);
  border: 2px solid var(--orange-primary);
}

.location-view .row,
.order-list-title {
  margin-bottom: 0;
}

.sidenav li:nth-child(3){
  margin-top: 2rem;
}

.sidenav li .order-list-items {
  overflow-x: hidden;
  overflow-y: auto;
  height: 10.5rem;
  padding-right: .5rem;
}

.order-list-items .row, 
.order-total .row {
  margin-bottom: .5rem;
}

.order-list-items::-webkit-scrollbar-track {
  background: var(--orange-secondary);
}

.order-list-items::-webkit-scrollbar-thumb {
  background: var(--orange-primary);
}

.order-total {
  padding-right: .5rem;
}

.order-confirm .btn {
  color: var(--orange-primary);
  background-color: var(--bg-primary);
  border-radius: 2px;
  box-shadow: none;
  border: 2px solid var(--orange-secondary);
  height: 45px;
  margin: auto;
}


/* start nav */

nav {
  padding: 0 10px 0 10px;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  box-shadow: none;
  height: 5rem;
}

nav .left, nav .right {
  margin: .5rem 1.5rem;
  padding: 0;
}

nav .brand-logo {
  position: unset;
}

/* nav .right {
  position: absolute;
  top: 0px;
  right: 0px;
} */

.nav-wrapper form {
  margin: auto;
  /* width: 30%; */
}

nav .input-field {
  margin: 13px 0;
}

.nav-wrapper .search-location {
  width: 15%;
}

.nav-wrapper .search-stuff {
  width: 27%;
}

.nav-wrapper .search-stuff li {
  width: 100%;
}

/* .nav-wrapper .input-field{
  padding-top: 7px;
} */

.nav-wrapper form #search{
  height: 35px;
  border: 2px solid var(--border-primary);
  border-radius: 4px;
}

.icon-block {
  padding: 0 15px;
}

.input-field .material-icons {
  line-height: 40px;
  height: 35px;
}

.nav-wrapper .btn-large {
  border-radius: 70px;
  box-shadow: none;
  border: 2px solid var(--border-primary);
  /* height: 45px; */
  margin: auto;
}

.nav-wrapper .btn-large .material-icons {
  clip-path: circle();
  margin: 0;
  margin-right: .7em;
}

/* end nav */


/* start carousel slider */
.carousel-item {
  display: flex;
}

.carousel-item .carousel-caption {
  margin: auto;
}

.middle-indicator {
  position:absolute;
  top:45%;
}

.middle-indicator-text {
  font-size: 4.2rem;
}

a.middle-indicator-text {
  color: var(--text-primary);
}

.content-indicator {
  width: 64px;
  height: 64px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; 
}
   
/* .indicators {
  visibility: hidden;
} */

/* end carousel slider */



/* start ads section */

.ads-section {
  margin: 2rem 1rem;
}

.ads-section .row {
  margin-bottom: 0;
}

.ads-header {
  border: 2px solid grey;
  padding: 1rem 0 !important;
  letter-spacing: .3rem;
}

.ads-body {
  border: 2px solid grey;
  border-top: none;
  padding: 0 !important;
  height: auto;
}

.ads-body .row,
.ads-body .col {
  display: flex;
}

.ads-body .col:first-child img {
  width: 100%;
  max-height: 10rem;
  margin: auto;
}

.ads-body .col:last-child {
  position: relative;
}

.ads-caption {
  margin: auto;
}

.ads-caption h5 {
  font-size: 1.2em;
}

.ads-more a {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: var(--orange-primary)
}

/* end ads section */


/* start category section */

.category-section {
  margin: 2rem;
}

.price-range h4 {
  font-size: 1.2em;
}

.range-bar {
  width: 90%;
  padding: .2rem 1rem;
  border-radius: 25px;
  border: 2px solid grey;
}

#price-range {
  background: linear-gradient(to right, #6558F5 0%, #6558F5 50%, #fff 50%, #fff 100%);
  border: solid 1px #6558F5;
  border-radius: 10px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

#price-range::-webkit-slider-thumb,
#price-range::-webkit-slider-runnable-track {
  background-color: #6558F5;
}

#price-range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  margin-top: -8px;
  border: solid 1px var(--bg-primary);
}

#price-range::-webkit-slider-runnable-track {
  height: 0px;
}